
<div class="post">
	<h1 class="post-title">@Model.frontmatter.title</h1>
	<span class="post-date">@Model.frontmatter.created.ToString(@Model.config.dateFormat)</span>
    @Raw(Model.content)
</div>

@if (Model.frontmatter.tags.Length > 0) {
<div class="tags">
	<h2 style="display:inline;">Tags:</h2>
	
		@foreach(var tag in Model.frontmatter.tags) {
		<a href="/tags/@(Jotter.Core.IOUtils.urlSlug(tag)).html" class="round tag-cloud">@tag</a>
		}
	</div>
}

<div class="comments" style="margin-top: 20px">
@if (Model.config.enableDisqusComments) {
	@Raw(Jotter.Core.DisqusComments.render(Model.path, Model.config.disqusUrl))	 
}
</div>
