<div class="main-post-list">
	<ol class="post-list">
	 @foreach(var post in Model.content) {
		<li>
			<h2 class="post-list__post-title post-title">
				<a href="posts/@post.filename" title="@post.frontmatter.title">
					@post.frontmatter.title
				</a>
			</h2>
			<p class="excerpt">
				@post.excerpt
				&hellip;
			</p>
			<div class="post-list__meta">
			  <time datetime="@post.frontmatter.created" class="post-list__meta--date date">
				Posted @post.frontmatter.created.ToString(Model.config.dateFormat)
			  </time>&#8226; 
			  @if (post.frontmatter.tags.Length > 0) {
			  <span class="post-meta__tags">Tags: 
				@foreach(var tag in post.frontmatter.tags) {
					<a href="/tags/@(tag).html">@tag</a> 
				}
			  </span>
			  }
			</div>
			<hr class="post-list__divider">
		</li>
	   }
	</ol>
	
	<hr class="post-list__divider ">
    <nav class="pagination" role="navigation">
		@if (Model.prev > 0) {
			<a rel="prev" class="posts newer btn small" href="/@Model.prevFileName" title="Previous Page">← Newer Posts</a>
		}
		<span class="pagination__page-number">
			@if (Model.current > 1) {
				<text>Page</text> @Model.current
			}
		</span>
		@if (Model.next > 0) {
			<a rel="next" class="posts older btn small" href="/@Model.nextFileName">Older Posts →</a>
		}
	</nav>
</div>
