
<div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
	@if (Model.prev > 0) {
        <a class="newer-posts" href="/@Model.prevFileName"><span aria-hidden="true">&larr;</span> Newer Posts</a>
	}
	<span class="page-number">
		@if (Model.current > 1) {
			<text>Page</text> @Model.current
		}
	</span>
	@if (Model.next > 0) {
		<a class="older-posts" href="/@Model.nextFileName">Older Posts <span aria-hidden="true">&rarr;</span></a>
	}
	</nav>
</div>


 @foreach(var post in Model.content) {
   
	<article class="post @post.frontmatter.tags featured">
		<header class="post-header">
			<h2 class="post-title"><a href="posts/@post.filename">@post.frontmatter.title</a></h2>
		</header>
		<section class="post-excerpt">
			<p>@post.excerpt<a class="read-more" href="posts/@post.filename">&raquo;</a></p>
		</section>
		<footer class="post-meta">
			<img class="author-thumb" src="/assets/img/logo.png" alt="@Model.config.author" nopin="nopin" />
			<a href="/about.html">@Model.config.author</a>
			@if (post.frontmatter.tags.Length > 0) {
			    <text>on</text>
				@foreach(var tag in post.frontmatter.tags) {
					<a href="/tags/@(tag).html">@tag</a> 
				}			
			}			
			
			<time class="post-date" datetime="@post.frontmatter.created"> 
				@post.frontmatter.created.ToString(Model.config.dateFormat)
			</time> 
		</footer>
	</article>
 
  
 }

<div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
	@if (Model.prev > 0) {
        <a class="newer-posts" href="/@Model.prevFileName"><span aria-hidden="true">&larr;</span> Newer Posts</a>
	}
	<span class="page-number">
		@if (Model.current > 1) {
			<text>Page</text> @Model.current
		}
	</span>
	@if (Model.next > 0) {
		<a class="older-posts" href="/@Model.nextFileName">Older Posts <span aria-hidden="true">&rarr;</span></a>
	}
	</nav>
</div>
