@model Jotter.Core.Tag.TagLayoutViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<base href="@Model.config.url" />


    <title>@Model.config.name</title>
    <meta name="description" content="@Model.config.description" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.ico">
	
	@Model.css
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <link rel="canonical" href="@Model.config.url" />
    <meta name="referrer" content="origin" />
    <link rel="next" href="@Model.config.url/page/2/" />
    
    <meta property="og:site_name" content="@Model.config.name" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.config.name" />
    <meta property="og:description" content="@Model.config.description" />
    <meta property="og:url" content="@Model.config.url" />
       
    <script type="application/ld+json">
	{
		"@@context": "http://schema.org",
		"@@type": "Website",
		"publisher": "@Model.config.name",
		"url": "@Model.config.url",
		"description": "@Model.config.description"
	}
    </script>

    <meta name="generator" content="Dnevnik-1.0" />
    <link rel="alternate" type="application/rss+xml" title="@Model.config.name" href="@Model.config.url/blog.rss" />
</head>
<body class="home-template nav-closed">

    <div class="nav">
		<h3 class="nav-title">Menu</h3>
		<a href="#" class="nav-close"><span class="hidden">Close</span></a>
		<ul>
			<li class="nav-home" role="presentation"><a href="@Model.config.url">Home</a></li>
			<li class="nav-github" role="presentation"><a href="http://github.com/@Model.config.github">GitHub</a></li>
		</ul>
		<a class="subscribe-button icon-feed" href="@Model.config.url/blog.rss">Subscribe</a>
	</div>
	<span class="nav-cover"></span>

    <div class="site-wrapper">
		<header class="main-header no-cover">
			<nav class="main-nav overlay clearfix">
				<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
			</nav>
			<div class="vertical">
				<div class="main-header-content inner">
					<h1 class="page-title">Tag: @Model.tag</h1>
					<h2 class="page-description">tagged collection of posts</h2>
				</div>
			</div>
			<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
		</header>

		<main id="content" class="content" role="main">
			@Model.content			
		</main>

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="@Model.config.url"><%= @config.name %></a> &copy; 2017</section>
            <section class="poweredby">Proudly published with <a href="https://github.com/cyberdot/dnevnik">Dnevnik</a></section>
        </footer>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>  
	@Model.js
</body>
</html>
