@model Jotter.Core.Index.IndexViewModel

@foreach(var post in Model.content) {

<div class="posts">
	<div class="post">
		<h1 class="post-title">
			<a href="@post.filename"> @post.frontmatter.title</a>
		</h1>
		<span class="post-date">@post.frontmatter.created.ToString(Model.config.dateFormat)</span>
		@post.excerpt
	</div>
</div>

}

<div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
	@if (Model.prev > 0) {
        <a class="newer-posts" href="/@Model.prevFileName"><span aria-hidden="true">&larr;</span> Newer Posts</a>
	}
	<span class="page-number">
		@if (Model.current > 1) {
			Page @Model.current
		}
	</span>
	@if (Model.next > 0) {
		<a class="older-posts" href="/@Model.nextFileName">Older Posts <span aria-hidden="true">&rarr;</span></a>
	}
	</nav>
</div>
